body{
    background-color: #fdfd96;
    margin: 0;
    padding: 0;
}

/* Nintendo 64 Controller */
.n64-Container{
    height: 550px;
    width: 550px;
    border: solid 3px black;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.n64-Body{
    background-color: #1eaa46;
    height: 230px;
    width: 500px;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 30px;
    border-radius: 40% 40% 40% 40%;
}
.n64-Body:before{
    content: "";
    position: absolute;
    background-color: #1eaa46;
    height: 100px;
    width: 240px;
    top: -30px;
    left: 120px;
    border-radius: 35% 35% 0 0;
}
.n64-Body:after{
    content:"";
    position: absolute;
    height: 230px;
    width: 500px;
    box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.3);
    border-radius: 0 0 40% 40%;
    top: 0;
    z-index: -2;
}
.prong{
    content: "";
    background-color: #1eaa46;
    height: 250px;
    width: 100px;
    position: relative;
    border-radius: 50% 50% 50% 50%;
}
.prong-l{
    top: 85px;
    left: -10px;
    z-index: -2;
    box-shadow: 7px 2px 0 0 rgba(0, 0, 0, 0.3);
}
.prong-m{
    left: 190px;
    bottom: 60px;
    width: 60px;
    border-radius: 0 0 0 100%;
    z-index: -1;
    box-shadow: 7px 2px 0 0 rgba(0, 0, 0, 0.3);
}
.prong-m:before{
    content: "";
    position: absolute;
    background-color: #1eaa46;
    width: 60px;
    height: 250px;
    left: 60px;
    bottom: 0px;
    border-radius: 0 0 100% 0;
    z-index: -1;
    box-shadow: 7px 2px 0 0 rgba(0, 0, 0, 0.3);
}
.prong-r{
    left: 410px;
    bottom: 415px;
    z-index: -3;
    box-shadow: 7px 2px 0 0 rgba(0, 0, 0, 0.3);
}
.n64-Start{
    background-color: red;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 210px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
}
.n64-Joystick{
    background-color: gray;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
}
.n64-Joystick:before{
    content: "";
    background-color: gainsboro;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
}
.n64-B{
    content: "";
    background-color: green;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: auto;
    left: 200px;
    right: 0;
    top: 0;
    bottom: 210px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
}
.n64-A{
    content: "";
    background-color: blue;
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: auto;
    left: 280px;
    right: 0;
    top: 0;
    bottom: 130px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
}
.n64-Yellows{
    width: 75px;
    height: 75px;
    position: absolute;
    margin: auto;
    left: 360px;
    right: 0;
    top: 0;
    bottom: 290px;
    transform: rotate(45deg);
}
.yellow{
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);

}
.yellow-r{
    right: 0px;
}
.yellow-d{
    right: 0;
    bottom: 0;
}
.yellow-l{
    left: 0;
    bottom: 0;
}
.n64-DPad{
    height: 100px;
    width: 100px;
    border: solid 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2) inset;
    position: absolute;
    margin: auto;
    left: 70px;
    top: 90px;
    border-radius: 50%;
    padding: 10px;
}
.dpad-64{   
    width: 100px;
    height: 30px;
    position: absolute;
    background-color: grey;
    top: 45px;
    border-radius: 10%;
}
.dpad-64-v{
    transform: rotate(90deg);
}